body,
html,
#root {
  min-height: 100vh;
  background-color: #1f1f1f;
}

.nov-t {
  color: #a3a3a3;
  font-size: 12px;
  font-weight: bold;
}

.nov-d {
  font-size: 13px;
}

.song-title {
  color: #a3a3a3;
  font-size: 13px;
}

.card-bg {
  background-color: #1f1f1f;
}

.logo-white {
  filter: brightness(0) invert(1);
}

.footer-small {
  color: #888;
}

.nav-Desk {
  font-size: 20px;
}

.form-control::placeholder {
  color: white !important;
  opacity: 1;
}
